<div class="container p-5">
  <div class="row">
    <div class ="row">
        <h3 class="font-weight-bold">商品一覧</h3>
        <p class="p-2">(全<%= @items.count %>名）<p>
      </div>
    <div>
      <%= link_to new_admin_item_path do %>
        <%= image_tag "plus-solid.svg", width: '30%', height: '30%' %>
      <% end %>
    </div>
    <table class="table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <% @items.each do |item| %>
    <tbody>
      <tr>
        <td><%= item.id %></td>
        <td>
          <%= link_to admin_item_path(item.id) do %>
            <%= item.name %>
          <% end %>
          </td>
        <td><%= item.adj_price %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.sales_status %>
            <p class="text-success" >販売中</p>
          <% else %>
            <p class="text-secondary">販売停止中</p>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  </div>
  <%= paginate @items %>
</div>