<div class="p-5">

  <div class="row">

    <div class="col-md-2">
      <table class="table border">
        <thead class="text-center">
          <tr class="table-warning">
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <%= render "public/items/sidebar", genres: @genres %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">

      <div class="card mb-4 text-white">
        <%= image_tag "tart2.jpg",size: "700x400",class: "mx-auto" %>
        <div class="card-img-overlay col-8 mx-auto d-flex align-items-center justify-content-center">
          <div class="py-2">
            <p class="card-text font-weight-bold">
              ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
            </p>
          </div>
        </div>
      </div>
       <h2 class="col-md-12 font-weight-bold">新着商品<i class="fa-solid fa-kiwi-bird"></i></h2>
    </div>
    
    

    <div class="col-md-12">

      <div class="row justify-content-center">
        
        <% @items.each do |item| %>
        <div class="pl-4">
          <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(200, 300) ,class: "shadow p-3 mb-5 bg-body round" %>
          <% end %>
          <p><%= item.name %></p>
          <p>¥<%= item.price_no_tax %></p>
        </div>
        <% end %>

      </div>
      <div class="offset-md-9">
        <%= link_to "全ての商品を見る >",items_path %>
      </div>

    </div>


  </div>

</div>