<div class="p-5">

  <div class="row">

    <div class="col-md-2">
      <table class="table border">
        <thead class="text-center">
          <tr class="table-warning">
            <th>ジャンル検索</th>
          </tr>
        </thead>

        <tbody>
          <%= render "public/items/sidebar", genres: @genres %>
        </tbody>

      </table>
    </div>

    <div class="col-md-8">
      <div class="row ml-3">
        <h3 class="font-weight-bold"><%= @genre.name %>一覧</h3>
        <p class="p-2">(全<%= @genre.items.count %>件）<p>
      </div>


      <div class="row">

        <% @genre.items.each do |item| %>
        <div class="pl-4">
          <div>
          <%= link_to item_path(item) do %>
          <%= image_tag item.get_image(200, 300) ,class: "shadow p-3 mb-5 bg-body round" %>
          <% end %>
          </div>
          <%= item.name %><br>
          ¥<%= item.price_no_tax.to_s(:delimited) %>(税抜)<br>
        </div>
        <% end %>

      </div>



    </div>


  </div>

</div>