<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-4 text-center">
        <h4>注文情報入力</h4>
      </div>
      <%= form_with model: @order, url: confirm_orders_path, local: true do |f| %>
      <div>
        <h5><strong>支払方法</strong></h5>
        <div class="col-sm-4 ml-3">
          <%= f.radio_button :payment, "クレジットカード", checked: "checked" %>
          <%= f.label :payment, "クレジットカード", value: "クレジットカード"%>
          <br>
          <%= f.radio_button :payment, "銀行振込" %>
          <%= f.label :payment, "銀行振込", value: "銀行振込"  %>
        </div>
      </div>

      <div>
        <h5><strong>お届け先</strong></h5>
        <div class="col-sm-4 ml-3">
          <%= f.radio_button :address_option, 0, checked: "checked" %>
          <%= f.label :order_address, "ご自身の住所" %>
        </div>
        <div class="col-sm-4 ml-5">
          <p>〒<%= @customer.post_code %><br>
             <%= @customer.address %><br>
             <%= @customer.last_name %><%= @customer.first_name %>
          </p>
        </div>
      </div>

      <div>
        <div class="col-sm-4 ml-3">
          <%= f.radio_button :address_option, 1 %>
          <%= f.label :order_address, "登録済住所から選択" %>
        </div>
        <div class="col-sm-4 ml-5">
          <%= f.collection_select :customer_id, current_customer.delivery_addresses.all, :id, :address, prompt: "住所を選択してください" %>
        </div>
      </div>

      <div>
        <div class="col-sm-4 ml-3">
          <%= f.radio_button :address_option, 2 %>
          <%= f.label :order_address, "新しいお届け先" %>
        </div>
        <div class="field col-sm-12 ml-4">
          <%= f.label :postcode, "郵便番号(ハイフンなし)", class: "col-lg-3" %>
          <%= f.text_field :postcode %>
        </div>
        <div class="field col-sm-12  ml-4">
          <%= f.label :address,"住所", class: "col-lg-3" %>
          <%= f.text_field :address, size:"60x60"%>
        </div>
        <div class="field col-sm-12  ml-4">
          <%= f.label :name,"宛名", class: "col-lg-3" %>
          <%= f.text_field :name, size:"30x30" %>
        </div>
      </div>

      <div class="field col-sm-12 text-center">
        <%= f.submit "確認画面へ進む",class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>