<div class="p-5">

  <div class="row">

    <div class="col-md-2">
      <table class="table border">
        <thead class="text-center">
          <tr class="table-warning">
            <th>ジャンル検索</th>
          </tr>
        </thead>

        <tbody>
          <%= render "sidebar", genres: @genres %>
        </tbody>

      </table>
    </div>

    <div class="col-md-8">
      <div class="row ml-3">
        <h3 class="font-weight-bold">商品一覧</h3>
        <p class="p-2">(全<%= @items_count %>件）<p>
      </div>


      <div class="row">

        <% @items.each do |item| %>
        <div class="pl-4">
          <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(200, 300) %>
          <% end %>
          <p><%= item.name %></p>
          <p>¥<%= item.price_no_tax %></p>
        </div>
        <% end %>

      </div>


    <div class="offset-md-4 mt-5">
      <%= paginate @items %>
    </div>

    </div>


  </div>

</div>