<div class="p-5">
  <div class="row">
    <div class="col-md-2">
      <table class="table border">
        <thead class="text-center">
          <tr class="table-warning">
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <%= render "sidebar", genres: @genres %>
        </tbody>
      </table>
    </div>





    <div class="col-md-4 offset-md-1">
      <%= image_tag @item.get_image(300, 400) ,class: "shadow p-3 mb-5 bg-body round" %>
    </div>

    <div class="col-md-5">
      <h1 class="float-left col-md-12 " style="font-weight: bold;"><%= @item.name%></h1>
      <div class="float-left col-md-12 mt-1 mb-5"><%= @item.introduction %></div>

      <p class="text-danger"><%= flash[:none] %></p>
      <p class="float-left col-md-12"><strong>¥ <%= @item.with_tax_price.to_s(:delimited) %></strong>(税込)</p>
      <% if current_customer.presence && (@item.sales_status == true ) %>
      <%= form_with(model: @cart_item, url: cart_items_path, method: :post, local: true) do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <div class="float-left col-md-6"><%= f.select :quantity, ['1','2','3','4','5','6','7','8','9','10'] , {include_blank: '個数選択'} , class: "quantity-select-form" %></div>
        <div class="float-left col-md-6"><%= f.submit "カートに入れる", class: "btn btn-primary" %></div>
      <% end %>
      <% elsif @item.sales_status == false %>
      <div class="text-danger">現在お取り扱いしておりません</div>
      <% else %>
      <p>商品を購入する場合はログインしてください。</p>
      <% end %>
  </div>
  </div>
</div>