<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

    <nav class="nav navbar-nav navbar-left">
      <% if admin_signed_in? %>
        <%= link_to  admin_root_path do %>
          <%= image_tag 'logo.png',size: "300x100" %>
        <% end %>
      <% else %>
        <%= link_to  root_path do %>
          <%= image_tag 'logo.png',size: "300x100" %>
        <% end %>
      <% end %>
    </nav>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-right">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <% if customer_signed_in? %>
            <!--カスタマーがログインしている時 -->
            <li class="header-name">
            　　ようこそ、<%= current_customer.last_name %>さん！
            </li>
            <button class="btn btn-sm btn btn-light mr-3" type="button">
          　　  <%= link_to "マイページ", customers_path(current_customer), class: "nav-link" %>
            </button>
        　　<button class="btn btn-sm btn btn-light mr-3" type="button">i>
        　　    <%= link_to "商品一覧", items_path, class: "header_btn glyphicon glyphicon-briefcase" %>
       　    </button>
       　    <button class="btn btn-sm btn btn-light mr-3" type="button">>
              <%=  link_to cart_items_path ,class: "header_btn glyphicon glyphicon-shopping-cart" do %>
                カート
              <% end %>
            </button>
            <button class="btn btn-sm btn btn-light mr-3" type="button">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "header_btn glyphicon glyphicon-log-out" %>
            </button>

          <% elsif admin_signed_in? %>

          <!-- 管理者がログインしている時 -->
            <button class="btn btn-sm btn btn-light mr-3" type="button">
              <%= link_to "商品一覧", admin_items_path, class: "header_btn glyphicon glyphicon-briefcase" %>
            </button>
            <button class="btn btn-sm btn btn-light mr-3" type="button">
              <%= link_to "会員一覧", admin_customers_path, class: "header_btn glyphicon glyphicon-user"  %>
            </button>
            <button class="btn btn-sm btn btn-light mr-3" type="button">
              <%= link_to "注文履歴一覧", admin_order_path, class: "header_btn glyphicon glyphicon-list-alt" %>
            </button>
            <button class="btn btn-sm btn btn-light mr-3" type="button">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "header_btn glyphicon glyphicon-log-out" %>
            </button>

          <% else %>

          <!-- ログインしていない時 -->
            <button class="btn btn-sm btn btn-light mr-3" type="button">
              <%= link_to "About", about_path, class: "nav-link" %>
            </button>
            <button class="btn btn-sm btn btn-light mr-3" type="button">
              <%= link_to "商品一覧", items_path, class: "nav-link" %>
            </button>
            <button class="btn btn-sm btn btn-light mr-3" type="button">
              <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
            </button>
            <button class="btn btn-sm btn btn-light mr-3" type="button">
              <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
            </button>
          <% end %>
        </ul>
      </div>
    </div>

    </div>
  </nav>
</header>