<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mb-5">
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>

  <footer class="bg-warning p-2 fixed-bottom mt-5">
    <div class="container text-center">
      <span class="text-white">Nagano Cake &copy; All Right Reserved.</span>
    </div>
  </footer>
</html>
